<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
	bootstrap="./vendor/autoload.php"
	beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true" beStrictAboutChangesToGlobalState="true"
	verbose="true">
	<testsuites>
		<testsuite name="dictionary-php">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="mbstring.substitute_character" value="?" />
	</php>
</phpunit>
